<header>
  <div class="indexHeader">
      <span class="indexHeaderLeft extension"> 
        <div class="indexHeaderLogoContainer">
          <img src="assets/images/shell_top_logo.png" alt border="0" class="shell_top_logo">
        </div>
        <div class="indexHeaderNewProduct">
            Match Manager
        </div>
      </span>
      <span class="indexHeaderRight topMenuRight">
        <span class="indexManageUserMenu eMenu" data-id="indexManageUserMenu">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>  
        </span>
      </span>
  </div>
</header>